In [1]:
import pandas as pd

In [5]:
data={
    'X':[1,2,3,4,5,6,7],
    'Y':[11,12,13,14,15,16,17]

}
data

{'X': [1, 2, 3, 4, 5, 6, 7], 'Y': [11, 12, 13, 14, 15, 16, 17]}

In [6]:
df= pd.DataFrame(data)
df.head()

   X   Y
0  1  11
1  2  12
2  3  13
3  4  14
4  5  15

In [7]:
pearson_coor = df['X'].corr(df['Y'])
print("Pearson Correlation Coefficient:",pearson_coor)

Pearson Correlation Coefficient: 1.0

In [11]:
df.corr()

     X    Y
X  1.0  1.0
Y  1.0  1.0